{% extends 'layout.html' %}

{% block body %}
    
    <!-- Empty div where JQCloud will build the word cloud-->
    <div class="container">
        <div class="jumbotron center-text">
            <div>
                <p> This app is built using Python, Flask and JQCloud </p>
            </div>
            <!-- Form to get input url, can add more widgets later -->
            <form class="center-text"">
                <div class="form-group">
                    <label> Enter the url </label>
                    <input type="text" id="id_user_url" name="user_url" class="form-control">
                </div>

                <p> <input onclick="submitClicked()" class="btn btn-primary" value="Go" readonly> </p>
            </form>            
        
        </div>

        <!-- here JQCloud will add the html for the word cloud-->
        <div class="row">
            <center>
                <div id="word_cloud">
                </div>
            </center>
        </div>
    </div>

    <script>
        function submitClicked() {
            var user_url = document.getElementById("id_user_url").value;
            if(!user_url) {
                alert("Kindly enter the url first.")
                return 
            }
            $('.loader').show();
            console.log('draw graph called');
            $.ajax({
                url: '/word_cloud', 
                type: 'GET',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { 
                    "user_url": user_url
                },
                success: function (data) {
                    console.log("success");
                    // returned data is in string format we have to convert it back into json format
                    var words_data = $.parseJSON(data);
                    console.log(words_data);
                    // we will build a word cloud into our div with id=word_cloud
                    // we have to specify width and height of the word
                    $('#word_cloud').jQCloud('update', words_data);
                    $('.loader').hide();
                },
                error: function () {
                   alert("error");
                }
            });
        }
    </script>
{% endblock %}
