<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        
        <!-- You can download css and js from https://github.com/mistic100/jQCloud/tree/master/dist -->
        <link rel="stylesheet" href="../static/css/jqcloud.min.css">

        <!-- loader css -->
        <link rel="stylesheet" href="../static/css/loader.css">

        <!-- we included some bootstrap css and js to make our page look nice -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        <!-- You need to include jquery before the jqcloud.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/jqcloud.min.js"></script>
        <!-- here we included our script.js -->
        <script type="text/javascript" src="../static/js/start_script.js"></script>

        <!-- here we included our update.js -->
        <script type="text/javascript" src="../static/js/update.js"></script>
        <!-- bootstrap js-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% include 'includes/_navbar.html'%}

        <div class="container">
            {% block body %} {% endblock %}
        </div>
        
    </body>
</html>